.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#display{
  width:15%;
}

#header{
  display: flex;
  flex-flow: row;
align-items: center;
  width:100%;
  justify-content: space-around;
}

#header_col{
  display: flex;
  flex-flow: column;
align-items: center;
justify-content: space-around;
  width:100%;
  height:7em;
}

#basket{
  display: flex; 
  flex-flow: row;
  align-items: center;
}

#basket_col {
  display: flex;
  flex-flow: column;
  width:100%;
}

#whatsin {
  display: flex;
  flex-flow: column;
  /* background-color: #222; */
  width:100%;
  justify-content: space-around;
  /* border: rgb(165, 165, 165) solid 2px; */
}

#whatsinfeg {
  /* background: rgba(252, 245, 238, 0.74); */
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

#feg {
  background:  rgb(255, 255, 255);
  display: flex wrap;
  flex-flow: column;
  justify-content: space-around;
  padding:1em;
  align-items: center;
  width: 25em;
  position: relative;
}
#feg_basket {
  background:  rgb(255, 255, 255);
  display: flex wrap;
  flex-flow: column;
  justify-content: space-around;
  padding:1em;
  align-items: center;
  width: 20em;
  position: relative;
  border: rgba(0, 0, 0, 0.186) solid 2px;
  font-size: 70%;
}

#feg_img {
  width: 25em;
  height: 25em;
  object-fit: cover;
  border-radius: 0%;
}

#feg_img_list {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 0%;
}

#feg_info {
  padding-top: 1em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 10em;
  height: 5em;
}

#page{
  background:  white;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#fegCol {
  display: flex;
  flex-flow: column;
  width: 0%;
  background: black;
}

@media screen and (min-width: 1400px) {
  #whatsinfegcontainer {

  height: 70em;
  }
  #fegCol {
    /* width: 10em;
    padding: 6em; */
    /* background: yellow; */
  }
  #more_feg {
    /* width: 10em;
    padding: 6em;
    background: yellow; */
  }
}

#whatsinfegcontainer {
  /* background: rgba(252, 245, 238, 0.74); */
  background: white;
  display: flex;
  width: 100%;
  /* height: 34em; */
  justify-content: space-around;
  flex-flow: row;
  padding: 0em;
}
#more_form {
  width: 100%;
  height: 100%; 
}

#more_feg {
  /* background:  rgb(255, 255, 255); */
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding:0.5em;
  align-items: center;
  width: 5em;
  /* width: 100%; */
  position: relative;
  height: 100%;
  
  /* border: rgba(0, 0, 0, 0.186) solid 2px; */
}

#more_button {
  height: 30em;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  #whatsinfegcontainer {
  /* border: rgb(165, 165, 165) solid 2px; */
  height: 105em;
  }
  #fegCol {
    /* width: 10em;
    padding: 6em; */
    /* background: yellow; */
  }
  #more_feg {
    width: 15em;
  }
}
@media screen and (max-width: 980px) {
  #whatsinfegcontainer {

  height: 205em;
  }
  #fegCol {
    /* width: 10em;
    padding: 6em; */
    /* background: yellow; */
  }
  #more_feg {
    /* width: 15em; */
  }
}

@media screen and (max-width: 500px) {
  #whatsinfegcontainer {
    /* flex-direction: row ;
    justify-content: center;
    align-items: center;
    width:50%;*/
    /* border: rgb(165, 165, 165) solid 2px;  */
  }
  #more_feg {
    height: 100%;
    padding: 0em;
    /* background: yellow; */
  }
  #fegCol {

    display: flex;
    flex-flow: column;
    width: 0em;
    padding: 0em;;
  }
  #feg_img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 0%;
  }
  #whatsinfeg {
    background: white;
    width: 25em;
  }
  #smallerBox, #feg {
    /* width: 95%; */
  }
  #smallerBox {
    display: flex;
    flex-wrap: nowrap;
  }
  #whatsin {
    width: 100%;
    /* border: rgb(165, 165, 165) solid 2px; */
  }
  #feg{
    background:white;
    width: 17em;

  }
  #more_form {
    /* width: 50%; */
    height: 100%; 
  }
  #more_button {
    /* width: 50%; */
    height: 100%;
  }
}


#nutrient_row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row;
}

#total_nutrition {
  display: flex;
  flex-flow: row;
}

#nutrients {
  background:  rgba(252, 245, 238, 0.74);
  display: flex wrap ;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#nutrient {
  background:  rgba(118, 241, 255, 0.186);
  display: flex wrap;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 70%;
  width:100%;
}
/* 
input {
  margin: .4rem;
} */

/* #displayFeg {
  margin: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between
} */
