.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#whatsinfeg {
  background: rgb(172, 255, 172);
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

#feg {
  background: rgb(255, 212, 212);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding:2em;
  align-items: center;
  width: 15em;
  position: relative;
}

#feg_img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 50%;
}

#feg_info {
  padding-top: 1.2em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 15em;
  height: 15em;
}