.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#whatsin {
  display: flex;
  flex-flow: column;
  /* background-color: #222; */
  width:100%;
  justify-content: space-around;
}

#whatsinfeg {
  background: rgba(252, 245, 238, 0.74);
  display: flex;
  /* justify-content: space-around; */
  flex-flow: column wrap;
  /* border: rgb(165, 165, 165) solid 2px; */
}

#feg {
  background:  rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding:1em;
  align-items: center;
  width: 25em;
  position: relative;
  /* border: rgba(0, 0, 0, 0.186) solid 2px; */
}

#feg_img {
  width: 25em;
  height: 25em;
  object-fit: cover;
  border-radius: 0%;
}

#feg_info {
  padding-top: 1em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 10em;
  height: 5em;
}

#page{
  background:  rgba(252, 245, 238, 0.74);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* border: #222 solid 2px; */
}

#fegCol {
  display: flex;
  flex-flow: column;
    width: 100%;
    padding: 0.2em;
    /* background: black; */
}

@media screen and (min-width: 1400px) {
  #fegCol {
    width: 10em;
    padding: 6em;
    /* background: yellow; */
  }
}

#whatsinfegcontainer {
  background: rgba(252, 245, 238, 0.74);
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row;
  padding: 0em;
  /* border: rgb(165, 165, 165) solid 2px; */
}

@media screen and (max-width: 500px) {
  #whatsinfegcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  #fegCol {
    display: flex;
    flex-flow: column;
    width: 0em;
    padding: 0em;
    /* background: green; */
  }
  #feg_img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 0%;
  }
  #whatsinfeg {
    width: 50%;
    /* background: yellow; */
  }
  #smallerBox, #feg {
    width: 95%;
  }
  #smallerBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #whatsin {
    width: 100%;
  }
  #feg{
    background:white;
    width:80%
  }
}

#more_feg {
  background:  rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding:0.5em;
  align-items: center;
  width: 2em;
  position: relative;
  border: rgba(0, 0, 0, 0.186) solid 2px;
}

#total_nutrition {
  display: flex;
  flex-flow: row;
}

/* 
input {
  margin: .4rem;
} */

/* #displayFeg {
  margin: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between
} */
